html{ font-family: 'Open Sans', sans-serif; text-align: center;}
body{ background: #fff; text-align: center; margin: 0 }
.container{
    max-width: 1280px;
    margin: 0px auto 0 auto;
    font-size: 14px;
    width: 96%;
    padding: 8px 0;
    text-align: left;
}

.clear{clear: both; height: 1;}
.container .article{
    padding: 0 10px;
}
.article p{
    margin: 16px 0;
    font-size: 13px;
    color: #333;
}
figure{
    margin: 0;
}
figure img{
    max-width: 100%;
}
span.c{ background: #ddd; color:brown; font-family: monospace;}
